(dp0
S'a'
p1
S'First Party Collection'
p2
sS'c'
p3
S'User Control'
p4
sS'b'
p5
S'Third Party Sharing and Collection'
p6
sS'e'
p7
S'Data Security'
p8
sS'd'
p9
S'Introductory/Generic'
p10
sS'g'
p11
S'Privacy Contact Information'
p12
sS'f'
p13
S'Internal and Specific Audiences'
p14
sS'v'
p15
S'Policy Change'
p16
sS'r'
p17
S'User Right'
p18
sS'k'
p19
S'Cookies and Similar Technologies'
p20
sS'j'
p21
S'Data Retention'
p22
sS'm'
p23
S'Data Transfer'
p24
sS's'
p25
S'First Party Use'
p26
sS'w'
p27
S'Links'
p28
sS'l'
p29
S'Legal basis'
p30
sS'x'
p31
S'Other'
s.
