(dp0
S'a'
p1
S'First Party Collection and Use'
p2
sS'b'
p3
S'Third Party Sharing and Collection'
p4
sS'c'
p5
S'User Choice/Control'
p6
sS'd'
p7
S'Introductory/Generic'
p8
sS'e'
p9
S'Data Security'
p10
sS'f'
p11
S'Internal and Specific Audiences'
p12
sS'g'
p13
S'Privacy Contact Information'
p14
sS'h'
p15
S'User Access, Edit, and Deletion'
p16
sS'i'
p17
S'Policy Change'
p18
sS'j'
p19
S'Data Retention'
p20
sS'k'
p21
S'Do Not Track'
s.

