(dp0
S'a'
p1
S'First Party Collection '
p2
sS'c'
p3
S'Third Party Sharing'
p4
sS'b'
p5
S'First Party Use '
p6
sS'e'
p7
S'User Choice/Control'
p8
sS'd'
p9
S'Third Party Collection'
p10
sS'g'
p11
S'Data Retention'
p12
sS'f'
p13
S'User Access, Edit and Deletion'
p14
sS'h'
p15
S'Data Security'
p16
sS'i'
p17
S'Policy Change'
p18
sS'j'
p19
S'Policy Change'
p20
s.
